.ctools-button {
  background-color: #fff !important;
  border-color: #ccc;
  border-radius: 11px;
}
.project-operations .ctools-button-processed,
.forge-head-list .ctools-button-processed {
  position: absolute !important;
}
.ctools-button-processed .ctools-content ul {
  margin: 0;
  padding: 0 .3em 0 1em;
}
.ctools-button-processed .ctools-content ul li a {
  padding: 0 6px 0 0;
}

.ui-tabs .ui-tabs-nav {
  padding: .2em .2em .4em;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  cursor: default;
}

tr.forge-disabled td, .forge-element-empty td {
  color: #aaa;
}
td.forge-operations {
  vertical-align: top;
  text-align: right;
  padding-top: 5px;
}
td.forge-operations ul {
  margin: 0;
  padding: 0 .3em 0 1em;
}
td.forge-operations li {
  text-align: left;
}
td.forge-operations li a {
  padding: 0 6px 0 0;
}
td.forge-operations.project-operations {
  text-align: left;
}

.forge-project-name {
  font-weight: bold;
}

#forge-actions {
  text-align: right;
}

.forge-head-list {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding:5px 10px;
}
.forge-head-list .item-list ul {
  margin: 0;
  padding-left: 0;
}
.forge-head-list .item-list li {
  display: inline-block;
  list-style: none;
}
.forge-head-list .item-list li a {
  display: inline-block;
  border: 1px solid #ccc;
  padding:2px 10px;
  border-radius: 5px;
}
.forge-head-list .item-list li a.active {
  color: #fff;
  background: #666;
}
.forge-head-list .item-list li a.add-subproject {
  background: url('../img/add.png') no-repeat 10px center;
  padding-left: 23px;
}
.forge-head-list .ctools-dropbutton {
  right: 10px;
  margin-top: 2px;
}

.forge-search {
  border: 1px solid #ccc;
  padding:6px 10px;
}
.forge-search .form-item {
  margin-bottom: 0;
}
.forge-search input {
  width: 100%;
  background: #fff url('../img/search.png') no-repeat right center !important;
  margin: 0 !important;
}
.forge-search input:focus {
  border: 1px solid #51a7e8 !important;
  outline: none;
}
.forge-search #forge-autocomplete {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #aeaeae;
  z-index: 999;
}
.forge-search #forge-autocomplete ul {
  margin: 0;
  list-style: none;
}
.forge-search #forge-autocomplete li {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 15px;
}
.forge-search #forge-autocomplete li span {
  display: inline-block;
  font-size: .9em;
  color: #000;
}
.forge-search #forge-autocomplete li .description {
  color: #999;
  margin-left: 1em;
}
.forge-search #forge-autocomplete li.selected{
  background-color: #4183c4;
  cursor: pointer;
}
.forge-search #forge-autocomplete li.selected span {
  color: #fff;
}
.forge-element.search-suggestion {
  border: 1px solid #51a7e8;
}
.forge-element.search-suggestion > tbody > tr {
  border-color: #51a7e8;
}

.ctools-modal-content {
  height: auto !important;
}
.ctools-modal-content .modal-header {
  background-color: #f2f2f2 !important;
  padding: 5px 10px !important;
  border-bottom: 1px solid #ccc;
}
.ctools-modal-content .modal-header .modal-title {
  font-size: 15px;
  color: #000;
}
.ctools-modal-content #modal-content {
  max-height: 50px;
}
div.ctools-modal-content .modal-content .modal-throbber-wrapper img {
  margin-top: 0;
  margin-bottom: 1em;
}
.ctools-modal-content .modal-header .close {
  display: inline-block;
  background: transparent url('../img/close.png');
  width: 18px;
  height: 0px;
  margin-top: 2px;
  padding-top: 19px;
  overflow: hidden;
}
.ctools-modal-content .modal-header .close img {
  display: none;
}
#element-wrapper label {
  width: auto;
  float: none;
}

div.ctools-modal-content .resizable-textarea {
  margin: 0;
}

.forge-element-core-support a,
.forge-element-core-support span {
  display: inline-block;
  margin-right: 3px;
  padding: 0 3px;
  font-size: 75%;
  line-height: 15px;
  border-radius: 3px;
  color: #000;
}
.forge-element-core-support .core-support-6x {
  background: #44ccff;
}
.forge-element-core-support .core-support-7x {
  background: #7fff00;
}
.forge-element-core-support .core-support-8x {
  background: #ffcfcf;
}
.forge-element-core-support .no-support {
  text-decoration: line-through;
  background: #aaa;
}
span.forge-element-title {
  display: inline-block;
  background: transparent url('../img/tree.png') no-repeat 0 2px;
  padding-left: 14px;
  cursor: pointer;
  line-height: 12px;
}
span.forge-element-title:hover {
  text-decoration: underline;
  background-position: 0 -23px;
}
span.forge-element-title.expand {
  background-position: 0 -48px;
}
span.forge-element-title.expand:hover {
  background-position: 0 -73px;
}
tr.forge-element-description {
  display: none;
}
div.forge-element-description {
  background: #f6f7f2;
  border: 1px solid #cdcdcd;
  padding: 6px 8px;
}
div.forge-element-description .tooltip-arrow {
  position: absolute;
  display: inline-block;
  background: transparent url('../img/tooltip.png') no-repeat;
  width: 13px;
  height: 7px;
  margin-top: -13px;
}
.forge-element-description .core-support {
  background: transparent;
  font-size: 100%;
  color: #0074db;
}

.form-short {
  max-width: 50%;
}
