.forge-build-head {
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.forge-build-head ul {
  margin: 0 !important;
}
.forge-build-head li {
  display: inline-block;
}

.forge-build-container {
  border: 1px solid #ccc;
  border-top: none;
}

#forge-build-tree {
  float: left;
  display: inline-block;
  width: 30%;
  height: 75vh;
  padding: 5px 0;
  border-right: 1px solid #ccc;
  background: #e6e6e6;
}
#forge-build-tree ul {
  margin: 0;
  margin-left: .5em;
  list-style: none;
}
#forge-build-tree ul ul {
  margin-left: 0;
  display: none;
}
#forge-build-tree ul ul li {
  margin-left: 1em;
}
#forge-build-tree a {
  color: #000;
}
#forge-build-tree a:hover {
  text-decoration: none;
}
#forge-build-tree a.forge-dir {
  font-weight: bold;
}
#forge-build-tree a.forge-toggle {
  background: transparent url('../img/tree.png') no-repeat 0 3px;
  padding-left: 1em;
}
#forge-build-tree a.forge-toggle:hover {
  background-position: 0 -22px;
}
#forge-build-tree a.forge-toggle.open {
  background-position: 0 -46px;
}
#forge-build-tree a.forge-toggle.open:hover {
  background-position: 0 -71px;
}

#forge-build-tree a.forge-file {
  display: inline-block;
  margin-left: 1em;
}
#forge-build-tree a.forge-file.open {
  text-decoration: underline;
}

#forge-build-preview {
  background: #eee;
  margin-left: 30%;
  padding: 5px 10px;
  height: 75vh;
  overflow: auto;
}
